background: #f2f2f2;
}

.container {
    width: 500px;
    margin: 50px auto;
    background: white;
    border-radius: 10px;
    min-height: 500px;
    padding: 30px;
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    background: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
}